name: aml_env
channels:
  - conda-forge
  - defaults
dependencies:
  - python=3.9  # Compatible with ML and DL libraries
  - pip
  - numpy
  - pandas
  - matplotlib
  - seaborn
  - ipykernel
  - wbdata

  - scikit-learn
  - pytorch
  - torchvision
  - torchaudio
  - tensorflow
  - keras
  - jupyter
  - jupyterlab
  - transformers
  - datasets
  - umap-learn
  - hdbscan
  - tslearn
  - tqdm
  - plotly
  - graphviz
  - pydot
  - t-sne
  - wbdata
  - requests
  - beautifulsoup4
  - pip:
      - torchtext
